@font-face {
	font-family: 'Segoe UI';
	src: local('./fonts/SegoeUI-Italic'), local('./fonts/SegoeUI-Italic'),
		url('./fonts/SegoeUI-Italic.woff') format('woff');
	font-weight: 300 400;
	font-style: italic;
}

@font-face {
    font-family: 'FuturaPT-Medium';
    src: local('./fonts/Futura PT Medium'), local('./fonts/FuturaPT-Medium'),
        url('./fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
	font-family: 'Forum';
	   src: url('./fonts/Forum-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: local('./fonts/FuturaPT-Light'), local('./fonts/FuturaPT-Light'),
        url('./fonts/FuturaPT-Light.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: local('./fonts/FuturaPT-Book'), local('./fonts/FuturaPT-Book'),
        url('./fonts/FuturaPT-Book.woff') format('woff');
    font-style: normal;
    }

body {
    min-width: 320px;
    margin: 0 auto;
    position: relative;
}

.section-1 {
    display: flex;
    height: 100vh;
    position: relative;
}

.white-container {
    width: 60%; 
    display: flex;
    flex-wrap: wrap; 
    position: relative;
}

.header-title {
    font-size: 5vw;
    font-family: "Forum", sans-serif;
    font-weight: 400;
}

.logo-container {
    display: flex;
    left: 10%;
    top: 5%;
    position: absolute;
    width: 33%;
}

.logo {
    width: 100%;
}

.title-content {
	display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 35%;
    left: 10%;
}

.language {
	display: flex;
    position: absolute;
    top: 85%;
    left: 10%;
    font-family: 'FuturaPT-Medium', sans-serif;
}

.lang {
	margin: 5px;
    font-size: 1.3vw;
}

.lang:hover {
    color: #C4C4C4; 
    transition-duration: .4s;
    cursor: pointer;
}

 
.line {
    width: 25%;
    height: 1px;
    background-color: rgba(39, 39, 39, 1);
    margin-right: 13%;
}

.container-subtitle {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

.line-text {
	align-items: center;
	display: inline-flex;
	width: 100%;
	justify-content: center;
}

.text {
    font-size: 1.5vw;
    font-family: 'Segoe UI', sans-serif;
}

.black-container {
	width: 40%;
	display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin-bottom: 2%;
    position: relative;
}

.buttons-container {
	display: flex;
    width: 60%;
    justify-content: space-between;
    position: absolute;
    top: 5%;
    left: 20%;
}

.favorites {
    width: 19%;
    margin-right: 10%;
}

.profile {
    width: 12%;
    margin-right: 10%;
}

.shop {
    width: 14%;
    margin-right: 20%;
}

.menu {
    width: 26%;
}

.favorites-img {
    width: 100%;
    max-height: 35px;
    max-width: 45px;
}

.profile-img {
    width: 100%;
    max-height: 35px;
    max-width: 28px;
}

.shop-img {
    width: 100%;
    max-height: 35px;
    max-width: 30px;
}

.menu-img {
    width: 100%;
    height: 100%;
    max-width: 55px;
}

.img-ring {
	position: absolute;
    top: 37%;
    right: 26%;
    width: 25%;
}

.ringpng {
	width: 100%;
}

.ring-price {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 85%;
    right: 27%;
}

.ring-text {  
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.7vw;
    font-family: 'FuturaPT-Light', sans-serif;
}

.material {
    color: #C2C2C2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.7vw;
    font-family: 'FuturaPT-Light', sans-serif;
}

.price {
    color: #EFC58B;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vw;
    font-family: 'Segoe UI', sans-serif;
}

.inline {
	display: inline-block;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    width: 100%
}

.gender {
	padding-bottom: 1.5%;
	width: 100%;
	display: flex;
}

.gender-item {
    position: relative;
    text-align: center;
    padding-right: 2%;
    width: 50%;
    cursor: pointer;
}

.gender div:last-child {
    padding-right: 0px;
}

.gender-text {
    position: absolute;
    top: 37%;
    left: 22%;
}

.genderimg {
	width: 100%;
    height: auto;
	filter: brightness(0.65);
}

.gender-subtitle {
    font-family: 'FuturaPT-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.9vw;
    color: white;
}

.gender-title {
	font-family: 'Forum', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 5vw;
	color: white;
}

.gender-line {
    width: 30%;
    left: 35%;
    background-color: white;
    height: 0.1px;
    position: absolute;
    margin: 7% 0%;
}

.map {
    display: flex;
    width: 100%;
}

.map-text {
    background-color: rgba(39, 39, 39, 1);
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.title-size {
    font-family: 'Forum', sans-serif;
    font-size: 4vw;
    color: white;
}

.map-subtitle {
	font-family: 'FuturaPT-light', sans-serif;
    font-size: 1.6vw;
    color: white;
    width: 100%;
    margin-bottom: 6%;
}

.address, .footer__input-main {
    font-family: 'FuturaPT-light', sans-serif;
    font-size: 1.6vw;
	border: none;
    background-color: #272727;
    outline: none;
    width: 100%;
    color: white;
    padding: 3% 0%;
}

.arrow {
    position: absolute;
    width: 2.5%;
    left: 37%;
}

.wrapper-line, .footer__input {
	display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    margin: 30% 20%;
    flex-wrap: wrap;
    align-content: space-between;
}

.map-line {
    width: 100%;
    background-color: white;
    height: 1px;
}

.maps {
	position: relative;
	width: 50%;
	display: flex;
}

.wrap {
	width: 100%;
	display: flex;
	position: relative;
}


.nav {
	height: 100%;
    width: 100%;
    position: absolute;
}

.location-icon {
    position: absolute;
    cursor: pointer;
    width: 6%;
}

.map1 {
    top: 28%;
    left: 16%;
}

.map2 {
	top: 43%;
    left: 54%;
}

.map3 {
	top: 73%;
    left: 38%;
}

.map4 {
	top: 60%;
    left: 68%;
}

.map5 {
	top: 33%;
    left: 37%;
}

.grid {
	padding-bottom: 2%;
}

.grid__inner {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 3%;
}

.grid__card-jows { grid-area: 1 / 1 / 2 / 2; }
.grid__card-croix { grid-area: 2 / 1 / 3 / 2; }
.grid__card-etoile { 
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    position: relative;
}

.grid__card-moon { grid-area: 1 / 3 / 2 / 4; }
.grid__card-win { grid-area: 2 / 3 / 3 / 4; }

.grid__card-cell {
    display: flex;
    flex-wrap: wrap;
    background-color: #EDEDED;
    aspect-ratio: 1/1;
    position: relative;
}

.grid__image-wrapper {
    position: absolute;
    width: 70%;
}

.grid__card-text {
	position: absolute;
    top: 70%;
    left: 5%;
    line-height: 1.5;
}

.grid__image-wrapper--top {
    top: 12%;
}

.grid__text-central-card {
    line-height: 1.5;
    position: absolute;
    top: 85%;
    left: 5%;
}

.grid__image {
    width: 100%;
    padding-left: 20%;
}

.grid__image--central {
	width: 100%;
    height: 100%;
}

.grid__title {
    font-size: 1.4vw;
    font-family: 'FuturaPT-Book', sans-serif;
}

.grid__description {
    font-size: 1.6vw;
    color: #757575;
    font-family: 'FuturaPT-Light', sans-serif;
}

.grid__price {
    font-size: 1.6vw;
    color: #E2B67A;
    font-family: 'Segoe UI', sans-serif;
    font-style: italic;
}

.grid__central-card-title {
    font-size: 1.4vw;
    font-family: 'FuturaPT-Book', sans-serif;
    color: white;
}

.grid__central-card-description {
    font-size: 1.6vw;
    color: #E7E7E7;
    font-family: 'FuturaPT-Light', sans-serif;
}

.section-4 {
    padding-top: 2%;
}

.wrapper-section-4 {
	background-color: #272727;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.title-slider {
	margin: 6% 12%;
    font-family: 'Forum', sans-serif;
    font-size: 4vw;
    color: white;
}

.slider-img {
	width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-img-style {
	max-height: 1250px;
	margin-left: 2%;
}

.img-size1 {
    width: 7%;
    max-height: 1250px;
}

.img-size2 {
	width: 25%;
}

.img-size3 {
	width: 21%;
}

.img-size4 {
	width: 27%;
}

.img-size5 {
	width: 11%;
}

.arrow-slider {
    cursor: pointer;
    width: 8%;
    margin: 0 6%;
}

.slider {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.slider-wrapper {
	display: flex;
    width: 100%;
}

.icon-links {
	display: flex;
    width: 38%;
    align-items: center;
    padding: 0 12%;
}

.slider img {
    cursor: pointer;
}

.point {
    background: #656565;
    border-radius: 50%;
    margin: 18% 2%;
    width: 1.8%;
    height: 5%;
}

.white {
    background: white;
}

.fb {
	margin: 0px 15px 0px 50px;
}

.contacts {
	width: 100%;
	display: flex;
}

.contacts__block {
	display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.contacts__input-e-mail {
	font-size: 1.6vw;
    border: none;
    background-color: #FFFFFF;
    outline: none;
    width: 100%;
    padding: 1.2vw 0;
}

.contacts__arrow {
    width: 10%;
    cursor: pointer;
}

.contacts__inner {
	line-height: 4.5vw;
}

.contacts__banner-inner {
    width: 50%;
}

.contacts__banner {
	display: flex;
	width: 100%;
}
.contacts__number {
	width: 100%;
}

.contacts__input {
    display: flex;
    width: 100%;
    align-items: center;
}

.contacts__number-title, .contacts__subscription-text {
	font-size: 1.4vw;
    font-family: 'FuturaPT-Medium';
}

.contacts__subscription {
    width: 80%;
}

.contacts__number-main {
	font-size: 1.8vw;
    color: #959595;
    margin: 0 0 30%;
    font-family: 'FuturaPT-Light';
}

.contacts__line {
	width: 100%;
    height: 1px;
    background-color: black;
}

.footer {
	background-color: #272727;
	display: flex;
	width: 86%;
	flex-wrap: wrap;
    padding: 0 7% 3%;
    font-size: 1.2vw;
    color: white;
    font-family: 'FuturaPT-Book';
}

.footer__number-title, .footer__input-title {
	font-size: 1.2vw;
	font-family: 'FuturaPT-Book';
	color: white;
}

.footer__rubric {
	display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 6% 0;
}

.footer__bottom {
	display: flex;
	width: 100%;
}

.footer__contacts {
    display: flex;
    width: 50%;
}

.footer__logo-inner {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer__logo {
    width: 40%;
}

.footer__link, .footer__store--img, .menu-item-icon, .contacts__arrow {
    cursor: pointer;
}

.footer__link--img {
    cursor: pointer;
    width: 12%;
    margin: 3% 3% 0 0;
}

.footer__link {
    width: 100%;
}

.footer__number {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.footer__number-main {
    width: 100%;
    color: #C2C2C2;
    padding: 5% 0;
}

.footer__input-e-mail {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.footer__input-arrow {
    width: 10%;
}

.footer__store--img {
    width: 35%;
    padding-right: 5%;
}

.footer__input-line {
    width: 100%;
    background-color: white;
    height: 1px;
}

.footer__store {
    display: flex;
    margin-top: 5%;
    width: 100%;
}