@font-face {
	font-family: 'Segoe UI';
	src: local('./fonts/SegoeUI-Italic'), local('./fonts/SegoeUI-Italic'),
		url('./fonts/SegoeUI-Italic.woff') format('woff');
	font-weight: 300 400;
	font-style: italic;
}

@font-face {
    font-family: 'FuturaPT-Medium';
    src: local('./fonts/Futura PT Medium'), local('./fonts/FuturaPT-Medium'),
        url('./fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
	font-family: 'Forum';
	   src: url('./fonts/Forum-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: local('./fonts/FuturaPT-Light'), local('./fonts/FuturaPT-Light'),
        url('./fonts/FuturaPT-Light.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: local('./fonts/FuturaPT-Book'), local('./fonts/FuturaPT-Book'),
        url('./fonts/FuturaPT-Book.woff') format('woff');
    font-style: normal;
    }

body {
    min-width: 320px;
    margin: 0 auto;
    position: relative;
}

.section-1 {
    display: flex;
    height: 100vh;
    position: relative;
}

.white-container {
    width: 60%; 
    display: flex;
    flex-wrap: wrap; 
    position: relative;
}

.header-title {
    font-size: 5vw;
    font-family: "Forum", sans-serif;
    font-weight: 400;
}

.logo-container {
    display: flex;
    left: 10%;
    top: 5%;
    position: absolute;
    width: 33%;
}

.logo {
    width: 100%;
}

.title-content {
	display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 35%;
    left: 10%;
}

.language {
	display: flex;
    position: absolute;
    top: 85%;
    left: 10%;
    font-family: 'FuturaPT-Medium', sans-serif;
}

.lang {
	margin: 5px;
    font-size: 1.3vw;
}

.lang:hover {
    color: #C4C4C4; 
    transition-duration: .4s;
    cursor: pointer;
}

 
.line {
    width: 25%;
    height: 1px;
    background-color: rgba(39, 39, 39, 1);
    margin-right: 13%;
}

.container-subtitle {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

.line-text {
	align-items: center;
	display: inline-flex;
	width: 100%;
	justify-content: center;
}

.text {
    font-size: 1.5vw;
    font-family: 'Segoe UI', sans-serif;
}

.black-container {
	width: 40%;
	display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin-bottom: 2%;
    position: relative;
}

.buttons-container {
	display: flex;
    width: 60%;
    justify-content: space-between;
    position: absolute;
    top: 5%;
    left: 20%;
}

.favorites {
    width: 19%;
    margin-right: 10%;
}

.profile {
    width: 12%;
    margin-right: 10%;
}

.shop {
    width: 14%;
    margin-right: 20%;
}

.menu {
    width: 26%;
}

.favorites-img {
    width: 100%;
    max-height: 35px;
    max-width: 45px;
}

.profile-img {
    width: 100%;
    max-height: 35px;
    max-width: 28px;
}

.shop-img {
    width: 100%;
    max-height: 35px;
    max-width: 30px;
}

.menu-img {
    width: 100%;
    height: 100%;
    max-width: 55px;
}

.img-ring {
	position: absolute;
    top: 37%;
    right: 26%;
    width: 25%;
}

.ringpng {
	width: 100%;
}

.ring-price {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 85%;
    right: 27%;
}

.ring-text {  
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.7vw;
    font-family: 'FuturaPT-Light', sans-serif;
}

.material {
    color: #C2C2C2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.7vw;
    font-family: 'FuturaPT-Light', sans-serif;
}

.price {
    color: #EFC58B;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vw;
    font-family: 'Segoe UI', sans-serif;
}

.inline {
	display: inline-block;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    width: 100%
}

.gender {
	padding-bottom: 1.5%;
	width: 100%;
	display: flex;
}

.gender-item {
    position: relative;
    text-align: center;
    padding-right: 2%;
    width: 50%;
    cursor: pointer;
}

.gender div:last-child {
    padding-right: 0px;
}

.gender-text {
    position: absolute;
    top: 37%;
    left: 22%;
}

.genderimg {
	width: 100%;
    height: auto;
	filter: brightness(0.65);
}

.gender-subtitle {
    font-family: 'FuturaPT-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.9vw;
    color: white;
}

.gender-title {
	font-family: 'Forum', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 5vw;
	color: white;
}

.gender-line {
    width: 30%;
    left: 35%;
    background-color: white;
    height: 0.1px;
    position: absolute;
    margin: 7% 0%;
}

.map {
    display: flex;
    width: 100%;
}

.map-text {
    background-color: rgba(39, 39, 39, 1);
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.title-size {
    font-family: 'Forum', sans-serif;
    font-size: 4vw;
    color: white;
}

.map-subtitle {
	font-family: 'FuturaPT-light', sans-serif;
    font-size: 1.6vw;
    color: white;
    width: 100%;
    margin-bottom: 6%;
}

.address {
    font-family: 'FuturaPT-light', sans-serif;
    font-size: 1.8vw;
	border: none;
    background-color: #272727;
    outline: none;
    width: 100%;
    color: white;
    padding: 3% 0%;
}

.arrow {
    position: absolute;
    width: 2.5%;
    left: 37%;
}

.wrapper-line {
	display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    margin: 30% 20%;
    flex-wrap: wrap;
    align-content: space-between;
}

.map-line {
    width: 100%;
    background-color: white;
    height: 1px;
}

.maps {
	position: relative;
	width: 50%;
	display: flex;
}

.wrap {
	width: 100%;
	display: flex;
	position: relative;
}


.nav {
	height: 100%;
    width: 100%;
    position: absolute;
}

.location-icon {
    position: absolute;
    cursor: pointer;
    width: 6%;
}

.map1 {
    top: 28%;
    left: 16%;
}

.map2 {
	top: 43%;
    left: 54%;
}

.map3 {
	top: 73%;
    left: 38%;
}

.map4 {
	top: 60%;
    left: 68%;
}

.map5 {
	top: 33%;
    left: 37%;
}

.section-3 {
	padding-bottom: 2%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 3%;
}

.item-grid-jows { grid-area: 1 / 1 / 2 / 2; }
.item-grid-croix { grid-area: 2 / 1 / 3 / 2; }
.item-grid-etoile { 
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    position: relative;
}
.item-grid-moon { grid-area: 1 / 3 / 2 / 4; }
.item-grid-win { grid-area: 2 / 3 / 3 / 4; }

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #EDEDED;
    aspect-ratio: 1/1;
    position: relative;
}

.img-wrap {
    position: absolute;
    width: 70%;
}

.box-text {
	position: absolute;
    top: 70%;
    left: 5%;
    line-height: 1.5;
}

.img-top {
    top: 12%;
}

.box-text-center {
    line-height: 1.5;
    position: absolute;
    top: 85%;
    left: 5%;
}

.grid-border {
    width: 100%;
    padding-left: 20%;
}

.grid-center-img-style {
	width: 100%;
    height: 100%;
}

.style-text-black {
    font-size: 1.4vw;
    font-family: 'FuturaPT-Book', sans-serif;
}

.style-text-grey {
    font-size: 1.6vw;
    color: #757575;
    font-family: 'FuturaPT-Light', sans-serif;
}

.style-text-gold {
    font-size: 1.6vw;
    color: #E2B67A;
    font-family: 'Segoe UI', sans-serif;
    font-style: italic;
}

.style-text-center-white {
    font-size: 1.4vw;
    font-family: 'FuturaPT-Book', sans-serif;
    color: white;
}

.style-text-center-grey {
    font-size: 1.6vw;
    color: #E7E7E7;
    font-family: 'FuturaPT-Light', sans-serif;
}

.section-4 {
    padding-top: 2%;
}

.wrapper-section-4 {
	background-color: #272727;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.title-slider {
	margin: 6% 12%;
    font-family: 'Forum', sans-serif;
    font-size: 4vw;
    color: white;
}

.slider-img {
	width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-img-style {
	max-height: 1250px;
	margin-left: 2%;
}

.img-size1 {
    width: 7%;
    max-height: 1250px;
}

.img-size2 {
	width: 25%;
}

.img-size3 {
	width: 21%;
}

.img-size4 {
	width: 27%;
}

.img-size5 {
	width: 11%;
}

.arrow-slider {
    cursor: pointer;
    width: 8%;
    margin: 0 6%;
}

.slider {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.slider-wrapper {
	display: flex;
    width: 100%;
}

.icon-links {
	display: flex;
    width: 38%;
    align-items: center;
    padding: 0 12%;
}

.slider img {
    cursor: pointer;
}

.point {
    background: #656565;
    border-radius: 50%;
    margin: 18% 2%;
    width: 1.8%;
    height: 5%;
}

.white {
    background: white;
}

.section-5 {
	width: 100%;
	display: flex;
}

.wrapper-section-5 {
	display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.e-mail {
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
	border: none;
    background-color: #FFFFFF;
    outline: none;
    width: 100%;
    padding: 10px 0px;
}

.link-wrapper {
	max-width: 350px;
    display: flex;
    margin: 155px;
    flex-wrap: wrap;
}

.link-img {
	display: flex;
	width: 50%;
}
.link {
	width: 100%;
}

.input-e-mail {
    display: flex;
    width: 100%;
    align-items: center;
}

.link-size {
	font-size: 18px;
	line-height: 23px;
	display: flex;
    align-items: flex-end;
}

.nomber {
	font-size: 22px;
	line-height: 28px;
	color: #959595;
	margin: 20px 0px 110px
}

.line-section-5 {
	width: 100%;
    height: 2px;
    background-color: black;
}

.footer {
	background-color: #272727;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.footer-size {
	font-size: 14px;
	line-height: 18px;
	color: white;
}

.rubric {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
    margin: 70px;
}

.link-footer {
	display: flex;
	width: 100%;
    padding-bottom: 70px
}

.links {
    display: flex;
    width: 50%;
}

.logo-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link, .store-item, .menu-item-icon, .pointer {
    cursor: pointer;
}

.social-link {
    cursor: pointer;
    width: 8%;
    margin: 0 2%;
}

.nomber-footer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.nomber-style {
    width: 100%;
    color: #C2C2C2;
    padding: 10px 0px;
}

.e-mail-footer {
    display: flex;
    width: 100%;
}

.store {
    display: flex;
    margin: 10px 0px;
}