@font-face {
	font-family: 'Segoe UI';
	src: local('./fonts/SegoeUI-Italic'), local('./fonts/SegoeUI-Italic'),
		url('./fonts/SegoeUI-Italic.woff') format('woff');
	font-weight: 300 400;
	font-style: italic;
}

@font-face {
    font-family: 'FuturaPT-Medium';
    src: local('./fonts/Futura PT Medium'), local('./fonts/FuturaPT-Medium'),
        url('./fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
	font-family: 'Forum';
	   src: url('./fonts/Forum-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: local('./fonts/FuturaPT-Light'), local('./fonts/FuturaPT-Light'),
        url('./fonts/FuturaPT-Light.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: local('./fonts/FuturaPT-Book'), local('./fonts/FuturaPT-Book'),
        url('./fonts/FuturaPT-Book.woff') format('woff');
    font-style: normal;
    }

body {
    margin: 0 auto;
    position: relative;
}

.page__wrapper {
    display: flex;
    height: 100vh;
    position: relative;
}

.white__container {
    width: 60%; 
    display: flex;
    flex-wrap: wrap; 
    position: relative;
}

.white__title {
    font-size: 5vw;
    font-family: "Forum", sans-serif;
    font-weight: 400;
}

.white__header-logo {
    display: flex;
    left: 10%;
    top: 5%;
    position: absolute;
    width: 33%;
}

.white__logo-image {
    width: 100%;
}

.white__text {
	display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 35%;
    left: 10%;
}

.white__lang {
	display: flex;
    position: absolute;
    top: 85%;
    left: 10%;
    font-family: 'FuturaPT-Medium', sans-serif;
}

.white__lang-inner {
	margin: 5px;
    font-size: 1.3vw;
}

.white__lang-inner:hover {
    color: #C4C4C4; 
    transition-duration: .4s;
    cursor: pointer;
}

 
.white__line {
    width: 25%;
    height: 0.1vw;
    background-color: rgba(39, 39, 39, 1);
    margin-right: 13%;
}

.white__subtitle {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

.white__subtitle-inner {
	align-items: center;
	display: inline-flex;
	width: 100%;
	justify-content: center;
}

.white__subtitle-text {
    font-size: 1.5vw;
    font-family: 'Segoe UI', sans-serif;
}

.black__container {
	width: 40%;
	display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin-bottom: 2%;
    position: relative;
}

.black__buttons {
	display: flex;
    width: 60%;
    justify-content: space-between;
    position: absolute;
    top: 5%;
    left: 20%;
}

.black__favorites {
    width: 9%;
    margin-right: 8%;
}

.black__profile {
    width: 6%;
    margin-right: 8%;
}

.black__shop {
    width: 7%;
    margin-right: 20%;
}

.black__menu {
    width: 13%;
}

.black__favorites--img {
    width: 100%;
    max-height: 35px;
    max-width: 45px;
}

.black__profile--img {
    width: 100%;
    max-height: 35px;
    max-width: 28px;
}

.black__shop--img {
    width: 100%;
    max-height: 35px;
    max-width: 30px;
}

.black__menu--img {
    width: 100%;
    height: 100%;
    max-width: 55px;
}

.page__ring {
	position: absolute;
    top: 39%;
    right: 31%;
    width: 16%;
}

.page__ring-image {
	width: 100%;
}

.black__ring {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 85%;
    right: 27%;
}

.black__ring-title {  
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.7vw;
    font-family: 'FuturaPT-Light', sans-serif;
}

.black__ring-description {
    color: #C2C2C2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.7vw;
    font-family: 'FuturaPT-Light', sans-serif;
}

.black__ring-price {
    color: #EFC58B;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vw;
    font-family: 'Segoe UI', sans-serif;
}

.gender {
	padding-bottom: 1.5%;
	width: 100%;
	display: flex;
}

.gender__item {
    position: relative;
    text-align: center;
    padding-right: 2%;
    width: 50%;
    cursor: pointer;
}

.gender div:last-child {
    padding-right: 0px;
}

.gender__text {
    position: absolute;
    top: 37%;
    left: 22%;
}

.gender__image {
	width: 100%;
    height: auto;
	filter: brightness(0.65);
}

.gender__subtitle {
    font-family: 'FuturaPT-Light', sans-serif;
    font-style: normal;
    font-size: 1.9vw;
    color: white;
}

.gender__title {
	font-family: 'Forum', sans-serif;
	font-size: 5vw;
	color: white;
}

.gender__line {
    width: 30%;
    left: 35%;
    background-color: white;
    height: 0.1vw;
    position: absolute;
    margin: 7% 0%;
}

.map {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}

.map__description {
    background-color: rgba(39, 39, 39, 1);
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.map__title {
    font-family: 'Forum', sans-serif;
    font-size: 4vw;
    color: white;
}

.map__subtitle {
	font-family: 'FuturaPT-light', sans-serif;
    font-size: 1.6vw;
    color: white;
    width: 100%;
    margin-bottom: 6%;
}

.map__input-main, .footer__input-main {
    font-family: 'FuturaPT-light', sans-serif;
    font-size: 1.6vw;
	border: none;
    background-color: #272727;
    outline: none;
    width: 100%;
    color: white;
    padding: 3% 0%;
}

.map__arrow {
    position: absolute;
    width: 2.5%;
    left: 37%;
    cursor: pointer;
}

.map__input, .footer__input {
	display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.map__description-inner {
    display: flex;
    margin: 30% 20%;
    flex-wrap: wrap;
    align-content: space-between;
}

.map__line {
    width: 100%;
    background-color: white;
    height: 0.1vw;
}

.map__inner {
	position: relative;
	width: 50%;
	display: flex;
}

.map__image {
	width: 100%;
	display: flex;
	position: relative;
}


.map__location {
	height: 100%;
    width: 100%;
    position: absolute;
}

.map__location-icon {
    position: absolute;
    cursor: pointer;
    width: 6%;
}

.map__icon1 {
    top: 28%;
    left: 16%;
}

.map__icon2 {
	top: 43%;
    left: 54%;
}

.map__icon3 {
	top: 73%;
    left: 38%;
}

.map__icon4 {
	top: 60%;
    left: 68%;
}

.map__icon5 {
	top: 33%;
    left: 37%;
}

.grid {
	padding-bottom: 2%;
}

.grid__inner {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 3%;
}

.grid__card-jows { grid-area: 1 / 1 / 2 / 2; }
.grid__card-croix { grid-area: 2 / 1 / 3 / 2; }
.grid__card-etoile { 
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    position: relative;
}

.grid__card-moon { grid-area: 1 / 3 / 2 / 4; }
.grid__card-win { grid-area: 2 / 3 / 3 / 4; }

.grid__card-cell {
    display: flex;
    flex-wrap: wrap;
    background-color: #EDEDED;
    aspect-ratio: 1/1;
    position: relative;
}

.grid__image-wrapper {
    position: absolute;
    width: 70%;
}

.grid__card-text {
	position: absolute;
    top: 70%;
    left: 5%;
    line-height: 1.5;
}

.grid__image-wrapper--top {
    top: 12%;
}

.grid__text-central-card {
    line-height: 1.5;
    position: absolute;
    top: 85%;
    left: 5%;
}

.grid__image {
    width: 100%;
    padding-left: 20%;
}

.grid__image--central {
	width: 100%;
    height: 100%;
}

.grid__title {
    font-size: 1.4vw;
    font-family: 'FuturaPT-Book', sans-serif;
}

.grid__description {
    font-size: 1.6vw;
    color: #757575;
    font-family: 'FuturaPT-Light', sans-serif;
}

.grid__price {
    font-size: 1.6vw;
    color: #E2B67A;
    font-family: 'Segoe UI', sans-serif;
    font-style: italic;
}

.grid__central-card-title {
    font-size: 1.4vw;
    font-family: 'FuturaPT-Book', sans-serif;
    color: white;
}

.grid__central-card-description {
    font-size: 1.6vw;
    color: #E7E7E7;
    font-family: 'FuturaPT-Light', sans-serif;
}

.slider-section {
    padding-top: 2%;
}

.slider-section__inner {
	background-color: #272727;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.slider-section__title {
	margin: 6% 12%;
    font-family: 'Forum', sans-serif;
    font-size: 4vw;
    color: white;
}

.slider__img {
	width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider__img-inner {
	max-height: 1250px;
	margin-left: 2%;
}

.slider__img--width1 {
    width: 7%;
    max-height: 1250px;
}

.slider__img--width2 {
	width: 25%;
}

.slider__img--width3 {
	width: 21%;
}

.slider__img--width4 {
	width: 27%;
}

.slider__img--width5 {
	width: 11%;
}

.slider__arrow {
    cursor: pointer;
    width: 8%;
    margin: 0 6%;
}

.slider {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.slider__inner {
	display: flex;
    width: 100%;
}

.slider__link {
	display: flex;
    width: 38%;
    align-items: center;
    padding: 0 12%;
}

.slider__point {
    background: #656565;
    border-radius: 50%;
    margin: 18% 2%;
    width: 1.8%;
    height: 5%;
}

.slider__point--white {
    background: white;
}

.contacts {
	width: 100%;
	display: flex;
}

.contacts__block {
	display: flex;
    flex-wrap: wrap;
    width: 40%;
    align-items: center;
    padding: 0 0 0 10%;
}

.contacts__input-e-mail {
	font-size: 1.6vw;
    border: none;
    background-color: #FFFFFF;
    outline: none;
    width: 100%;
    padding: 1.2vw 0;
}

.contacts__arrow {
    width: 10%;
    cursor: pointer;
}

.contacts__inner {
	line-height: 4.5vw;
}

.contacts__banner-inner {
    width: 50%;
}

.contacts__banner {
	display: flex;
	width: 100%;
}
.contacts__number {
	width: 100%;
}

.contacts__input {
    display: flex;
    width: 100%;
    align-items: center;
}

.contacts__number-title, .contacts__subscription-text {
	font-size: 1.4vw;
    font-family: 'FuturaPT-Medium';
}

.contacts__subscription {
    width: 80%;
}

.contacts__number-main {
	font-size: 1.8vw;
    color: #959595;
    margin: 0 0 30%;
    font-family: 'FuturaPT-Light';
}

.contacts__line {
	width: 100%;
    height: 0.1vw;
    background-color: black;
}

.footer {
	background-color: #272727;
	display: flex;
	width: 86%;
	flex-wrap: wrap;
    padding: 0 7% 3%;
    font-size: 1.2vw;
    color: white;
    font-family: 'FuturaPT-Book';
}

.footer__number-title, .footer__input-title {
	font-size: 1.2vw;
	font-family: 'FuturaPT-Book';
	color: white;
}

.footer__rubric {
	display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 6% 0;
}

.footer__bottom {
	display: flex;
	width: 100%;
}

.footer__contacts {
    display: flex;
    width: 50%;
}

.footer__logo-inner {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer__logo {
    width: 40%;
}

.footer__link--img, .slider__link--img {
    cursor: pointer;
    width: 10%;
    margin: 3% 3% 0 0;
}

.footer__link {
    width: 100%;
}

.footer__number {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.footer__number-main {
    width: 100%;
    color: #C2C2C2;
    padding: 5% 0;
}

.footer__input-e-mail {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.footer__input-arrow {
    width: 10%;
}

.footer__store--img {
    width: 35%;
    padding-right: 5%;
}

.footer__input-line {
    width: 100%;
    background-color: white;
    height: 0.1vw;
}

.footer__store {
    display: flex;
    margin-top: 5%;
    width: 100%;
}